h1{
    text-align: center;
    font-family: 'Erica One', cursive;
    font-size: 40pt;
}
body{
    background: #794c13;
}
canvas{
    border: 10px solid black;
    margin:auto;
    display:block;
    width: 800px;
}